$shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadowup: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.align-middle {
    align-items: center;
}

figure {
    box-shadow: $shadow;
    border-radius: 3px;

    .perfect__header {
        padding: 1rem;
        border: 1px solid rgba(0,0,0,.2);

        &--question {
            flex: 1 0 60%;
        }

        &--observed {
            flex: 1 0 20%;
        }

        &--range {
            flex: 1 0 20%;
        }
    }

    .perfect__answer {
        padding: 1rem;
        &--copy {
            flex: 1 0 20%;
        }

        &--split {
            flex: 1 0 40%;

            progress {
                position: relative;

                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;

                border: none;
                display: block;
                width: 100%;
                height: 1rem;
                margin: .25rem;

                &::-webkit-progress-bar {
                    background-color: white;
                    color: white;
                }

                &::-webkit-progress-value {
                    background-color: blue;
                }

                &::after {
                    content: attr(value);
                    position: absolute;
                    top: 0;
                    right: 1rem;
                    line-height: 1rem;
                }
            }
        }

        &--observed {
            flex: 1 0 20%;
        }

        &--range {
            flex: 1 0 20%;
        }
    }
}

@import "errorrange"
