.google {
    progress {
        &.control {
            &::-webkit-progress-value {
                background-color: #ddd;
            }
        }
        &.exposed {
            &::-webkit-progress-value {
                background-color: #4285f4;
            }
        }
    }

    .green {
        color: #0f9d58;

        .essrange {
            &__val {
                border: 2px solid #0f9d58;
            }
        }
    }
    .orange {
        color: #f4b400;

        .essrange {
            &__val {
                border: 2px solid #f4b400;
            }
        }
    }
    .red {
        color: #db4437;
        .essrange {
            &__val {
                border: 2px solid #db4437;
            }
        }
    }
}
